<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

    <style>
        /*.layui-table-page {
            padding: 13px 7px 0;
            height: 51px;
            font-size: 14px;
        }*/
    </style>
</head>
<body>

<div style="width: 80%; margin: 20px 0 0 50px;">
    <div class="qa-table" style="margin-bottom: 18px;">
        用户名：
        <div class="layui-inline">
            <input class="layui-input" name="name" id="qa-search-input" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" style="font-size: 18px">搜索</button>
    </div>
    <table class="layui-hide" id="qa-user" lay-filter="qa-user"></table>
</div>

<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-xs" style="color: #fff;" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#qa-user',
            url: '/user/retrieveUsers', //数据接口
            page: true, //开启分页
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID', sort: true, width: 100, align: 'center'},
                    {field: 'username', title: '用户名', sort: true, align: 'center'},
                    {field: 'sex', title: '性别', sort: true, width: 100, align: 'center'},
                    {field: 'email', title: '邮箱', width: 200, align: 'center'},
                    {field: 'phone', title: '电话', width: 180, align: 'center'},
                    {fixed: 'right', title: '操作', width: 100, toolbar: '#barDemo', align: 'center'}
                ]
            ],
            // size: 'sm',
            even: true,
            id: 'qa-table-reload',
        });

        //监听行工具事件
        table.on('tool(qa-user)', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('你确定要删除该用户？', function (index) {
                    obj.del();
                    console.log("用户id: " + data.id);
                    // 向后台发请求删除 ，根据用户id删除
                    $.ajax({
                        url: "/user/removeUser",
                        type: "POST",
                        data: {
                            id: data.id
                        }
                    })
                    layer.close(index);
                });
            }
        });


        var $ = layui.$, active = {
            reload: function () {
                var qaReload = $('#qa-search-input');

                //执行重载
                table.reload('qa-table-reload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        /*key: {
                            id: qaReload.val()
                        }*/
                        // 传到后台的搜索数据
                        name: qaReload.val()
                    }
                });
            }
        };

        $('.qa-table .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>


</body>
</html>