<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teiphu.mapper.AnswerMapper">

    <resultMap id="AnswerBean" type="com.teiphu.pojo.AnswerDo">
        <id property="id" column="id"/>
        <result property="answerContent" column="answer_content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="upvoteCount" column="upvoteCount"/>
        <result property="user.id" column="user_id"/>
        <result property="user.username" column="user_name"/>
        <result property="question.id" column="question_id"/>
    </resultMap>

    <insert id="insertAnswer">
        insert into qanda.answer(user_id, question_id, answer_content)
        values (#{user.id}, #{question.id}, #{answerContent});
    </insert>

    <delete id="deleteAnswer">
        delete
        from qanda.answer
        where qanda.answer.id = #{answerId};
    </delete>

    <delete id="deleteAnswerByQuestion">
        delete
        from qanda.answer
        where question_id = #{questionId};
    </delete>

    <update id="updateAnswer">
        update qanda.answer
        set answer_content = #{answerContent}
        where id = #{id};
    </update>

    <select id="getAnswer" resultMap="AnswerBean">
        select id, user_id, question_id, answer_content, gmt_create
        from qanda.answer
        where id = #{answerId};
    </select>

    <select id="getLatestAnswerByQuestion" resultMap="AnswerBean">
      SELECT t1.id, user_id, user_name, question_id, answer_content, t1.gmt_create, upvoteCount
        FROM (
          (SELECT id, user_id, question_id, answer_content, gmt_create
          FROM answer
          WHERE answer.question_id = #{questionId}
		  ORDER BY answer.gmt_create DESC
		  LIMIT 1) t1
        LEFT JOIN
          (SELECT updownvote.answer_id, count(*) upvoteCount
          FROM updownvote
          WHERE updownvote.up_or_down = 1
          GROUP BY updownvote.answer_id) t2
        ON t1.id = t2.answer_id
        ) LEFT JOIN qanda.user t3 ON t1.user_id = t3.id;
    </select>

    <!--SELECT t1.id, user_id, user_name, question_id, answer_content, t1.gmt_create, upvoteCount
    FROM (
    (SELECT id, user_id, question_id, answer_content, gmt_create
    FROM answer
    WHERE answer.question_id = #{questionId}) t1
    LEFT JOIN
    (SELECT updownvote.answer_id, count(*) upvoteCount
    FROM updownvote
    WHERE updownvote.up_or_down = 1
    GROUP BY updownvote.answer_id) t2
    ON t1.id = t2.answer_id
    ) LEFT JOIN qanda.user t3 ON t1.user_id = t3.id;-->
    <select id="listAnswerByQuestion" resultMap="AnswerBean">
        SELECT t3.id, t3.user_id, t4.user_name, t3.question_id, t3.answer_content, t3.gmt_create, t3.upvoteCount
        FROM (
          SELECT t1.id, user_id, question_id, answer_content, gmt_create, upvoteCount
          FROM (
            SELECT id, user_id, question_id, answer_content, gmt_create
            FROM answer
            WHERE answer.question_id = #{questionId}) t1
          LEFT JOIN (
            SELECT updownvote.answer_id, count(*) upvoteCount
            FROM updownvote
            WHERE updownvote.up_or_down = 1
            GROUP BY updownvote.answer_id) t2
            ON t1.id = t2.answer_id
          ) t3
		LEFT JOIN qanda.user t4
		ON t3.user_id = t4.id;
    </select>

    <select id="listAnswerByUser" resultMap="AnswerBean">
        select id, user_id, question_id, answer_content, gmt_create
        from qanda.answer
        where user_id = #{userId};
    </select>

    <select id="listAnswer" resultMap="AnswerBean">
        select id, user_id, question_id, answer_content, gmt_create
        from qanda.answer;
    </select>

    <resultMap id="AnswerAndQuestionBean" type="com.teiphu.pojo.AnswerDo">
        <id property="id" column="id"/>
        <result property="answerContent" column="answer_content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="user.id" column="user_id"/>
        <result property="question.id" column="question_id"/>
        <result property="question.content" column="content"/>
    </resultMap>

    <select id="listNewAnswer" resultMap="AnswerAndQuestionBean">
        SELECT answer.id, answer.answer_content, answer.user_id, answer.question_id, answer.gmt_create, question.content
        FROM answer LEFT JOIN question
        ON answer.question_id = question.id
        WHERE question_id IN (
        SELECT question_id
        FROM question_attention
        WHERE user_id = #{userId}
        ) AND answer.gmt_create > #{recentTime};
    </select>

</mapper>