<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teiphu.mapper.QuestionMapper">

    <resultMap id="QuestionBean" type="com.teiphu.pojo.QuestionDo">
        <id property="id" column="id"/>
        <result property="user.id" column="user_id"/>
        <result property="topic.id" column="topic_id"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
    </resultMap>

    <resultMap id="QABean" type="com.teiphu.pojo.QuestionDo">
        <id property="id" column="questionId"/>
        <result property="content" column="content"/>
        <result property="answer.id" column="answerId"/>
        <result property="answer.answerContent" column="answer_content"/>
        <result property="answer.gmtCreate" column="gmt_create"/>
        <result property="answer.upvoteCount" column="upvoteCount"/>
    </resultMap>

    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into qanda.question(user_id, content)
        values (#{user.id}, #{content});
    </insert>

    <delete id="deleteQuestion">
        delete
        from qanda.question
        where id = #{questionId};
    </delete>

    <update id="updateQuestion">
        update qanda.question
        set content = #{content}
        where id = #{id};
    </update>

    <select id="getQuestion" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question
        where id = #{questionId};
    </select>

    <select id="listQuestionByUser" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question
        where user_id = #{userId};
    </select>

    <!--<select id="z" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question
        where topic_id = #{topicId};
    </select>-->

    <select id="listQuestionByTopic" resultMap="QuestionBean">
        SELECT t2.id, t2.user_id, t2.content, t2.gmt_create
        FROM
        (SELECT topic_question.topic_id, topic_question.question_id
        FROM qanda.topic_question
        WHERE topic_question.topic_id = #{topicId}) t1
        LEFT JOIN qanda.question t2
        ON t1.question_id = t2.id;
    </select>

    <select id="listQuestion" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question;
    </select>

    <select id="listQuestionPaging" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question
        where id in (
          SELECT question_id
          FROM topic_question
          WHERE topic_id IN (
            SELECT topic_id
            FROM user_topic
            WHERE user_topic.user_id = #{userId})
          GROUP BY question_id
        )
        ORDER BY gmt_create DESC
    </select>

    <select id="listAllQuestionPaging" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question
        ORDER BY gmt_create DESC
    </select>

    <select id="listQuestionByPage" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question;
        /*order by id;*/
    </select>

    <select id="listQuestionBySearch" resultMap="QuestionBean">
        select id, user_id, topic_id, content, gmt_create
        from qanda.question
        where question.content like #{searchContent};
    </select>

    <select id="countQuestion" resultType="java.lang.Integer">
        select count(*)
        from qanda.question;
    </select>

    <select id="listQuestOfUserInterest" resultMap="QuestionBean">
        SELECT id, user_id, topic_id, content, gmt_create
        FROM qanda.question
        WHERE qanda.question.id IN (
            SELECT question_id
            FROM qanda.topic_question
            WHERE qanda.topic_question.topic_id IN (
                SELECT qanda.user_topic.topic_id
                FROM qanda.user_topic
                WHERE qanda.user_topic.user_id = 2
            )
        )
    </select>


    <select id="listQuestionsAnswered" resultMap="QABean">
        select *
        from (
        SELECT  t1.id answerId, t1.answer_content, t1.gmt_create, t2.id questionId, t2.content
        FROM
          (SELECT *
          FROM answer
          WHERE answer.user_id = #{userId}) t1
        LEFT JOIN question t2
        ON t1.question_id = t2.id
        ) t3
        LEFT JOIN (SELECT updownvote.answer_id, count(*) upvoteCount
          FROM updownvote
          WHERE updownvote.up_or_down = 1
          GROUP BY updownvote.answer_id) t4
        on t3.answerId = t4.answer_id;
    </select>

    <insert id="addTopicToQuestion">
        insert into topic_question(topic_id, question_id)
        values
        <foreach collection="topicIds" index="index" item="topicId" separator=",">
            (#{topicId}, #{questionId})
        </foreach>
    </insert>

    <resultMap id="QuestionWithUserBean" type="com.teiphu.pojo.QuestionDo">
        <id property="id" column="id"/>
        <result property="username" column="user_name"/>
        <result property="content" column="content"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="attention" column="count"/>
    </resultMap>

    <!--SELECT question.id, question.content, question.gmt_create, `user`.user_name

    FROM question LEFT JOIN `user`
    ON question.user_id = `user`.id-->
    <select id="listQuestionsByPagination" resultMap="QuestionWithUserBean">
        SELECT t1.id, t1.content, t1.gmt_create, t1.user_name, t2.count
        FROM
            (SELECT question.id, question.content, question.gmt_create, `user`.user_name
            FROM question LEFT JOIN `user`
            ON question.user_id = `user`.id) t1 LEFT JOIN
            (SELECT question_id, count(*) count
            FROM question_attention
            GROUP BY question_id) t2
        ON t1.id = t2.question_id
    </select>

    <select id="listQuestionsByPaginationWithName" resultMap="QuestionWithUserBean">
        SELECT t1.id, t1.content, t1.gmt_create, t1.user_name, t2.count
        FROM
            (SELECT question.id, question.content, question.gmt_create, `user`.user_name
            FROM question LEFT JOIN `user`
            ON question.user_id = `user`.id) t1
        LEFT JOIN
            (SELECT question_id, count(*) count
            FROM question_attention
            GROUP BY question_id) t2
        ON t1.id = t2.question_id
        WHERE content like #{content};
    </select>

    <select id="countQuestionBySearch" resultType="java.lang.Integer">
        select count(*)
        from qanda.question
        where content like #{searchText}
    </select>


</mapper>