<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teiphu.mapper.TopicMapper">

    <resultMap id="TopicBean" type="com.teiphu.pojo.TopicDo">
        <id property="id" column="id"/>
        <result property="user.id" column="user_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="topicDetail" column="topic_detail"/>
        <result property="gmtCreate" column="gmt_create"/>
    </resultMap>

    <insert id="insertTopic">
        insert into qanda.topic(user_id, topic_name, topic_detail)
        values (#{user.id}, #{topicName}, #{topicDetail});
    </insert>

    <delete id="deleteTopic">
        delete
        from qanda.topic
        where id = #{topicId};
    </delete>

    <update id="updateTopic">
        update qanda.topic
        <set>
            <if test="topicName != null">topic_name = #{topicName}, </if>
            <if test="topicDetail != null">topic_detail = #{topicDetail}, </if>
        </set>
        where id = #{id};
    </update>

    <select id="getTopic" resultMap="TopicBean">
        select id, user_id, topic_name, topic_detail
        from qanda.topic
        where id = #{topicId};
    </select>

    <select id="listTopic" resultMap="TopicBean">
        select id, user_id, topic_name, topic_detail
        from qanda.topic;
    </select>

    <select id="listTopicByUser" resultMap="TopicBean">
        select b.id id, b.user_id, b.topic_name, b.topic_detail
        from qanda.user_topic a left join qanda.topic b
        on a.topic_id = b.id
        where a.user_id = #{userId}
    </select>

</mapper>