body {
    background-color: #FAFAFA;
}

/* 导航条 */
#qa-nav {
    width: 100%;
    box-shadow: 0 2px 5px -2px rgba(200, 200, 200, 0.5);
    margin-bottom: 30px;
    position: fixed;
}

.layui-main {
    width: 75%;
    margin: 0 auto;
}

.header-index {
    background-color: #fff;
}

#qa-ul {
    position: relative;
    margin-left: 120px;
    float: left;
}

.layui-nav .layui-nav-item a {
    color: #ff0000;
}

.layui-nav .layui-nav-item a:hover {
    color: #ff0000;
}

.qa-search {
    float: left;
    margin-left: 30px;
    padding-top: 10px;
    width: 260px;
}

.qa-search-input {
    padding-left: 10px;
    height: 30px;
    margin-top: 3px;
}

.layui-input, .layui-select, .layui-textarea {
    height: 30px;
}

.layui-btn {
    /*float: left;*/
    /*margin-top: 15px;*/
    line-height: 15px;
    height: 30px;
    width: 35px;
    margin-top: -5px;
    margin-left: -6px;
    padding-left: 7px;
    padding-top: 3px;
    background-color: #B92B27;
}

.qa-name {
    margin: 0 0px 0 10px;
    float: left;
    line-height: 55px;
    width: 100px;
    /*height: 55px;*/
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.qa-question-btn {
    /*margin-left: 50px;*/
    /*margin-top: 20px;*/
}

.qa-question-btn button {
    padding: 0px 10px;
    background-color: #B92B27;
    border: 0;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.layui-layer-lan .layui-layer-title {
    background-color: #B92B27;
}

/* 中间卡片 */
.qa-cart {
    width: 45%;
    margin: 0px auto;
    padding-top: 90px;
}
.layui-card-body {
    padding-bottom: 50px;
}
.layui-card {
    box-shadow: 2px 2px 3px -2px rgba(200, 200, 200, 0.2);
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}
.qa-card-header h4 {
    font-size: 18px;
    font-family: 'q_serif', Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", "Meiryo", serif;
    font-weight: bold;
    line-height: 1.3;
    padding-top: 5px;

}

.qa-card-inner-body p {
    margin-bottom: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;

}
.qa-card-inner-body p a{
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.qa-body-content {
    margin-top:10px;
    font-size: 15px;
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.qa-upvote {
    /*width: 138px;*/
    height: 38px;
    padding-right: 10px;
    line-height: 38px;
    color: #646464;
    float: left;
    /*background-color: #00FF00;*/
}
.qa-upvote:hover, .qa-tread:hover {
    background-color: #FAFAFA;
    border-radius: 50px;
}
.qa-upvote i {
    /*padding-left: 20px;*/
}
.qa-upvote b {
    display: block;
    margin-top: -42px;
    margin-left: 41px;
    font-weight: normal;
}
.qa-upvote span {
    display: block;
    margin-top: -38px;
    margin-left: 105px;
}

/* 点击后的颜色 */
.qa-upvote-click {
    color: #319AFF;
}

.qa-tread {
    float: left;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    line-height: 38px;
}
.qa-tread i {
    /*color: #646464;*/
    margin-left: 8px;
}

/* 侧边 */
.qa-side {
    position: fixed;
    left: 13%;
    top: 90px;
}
.qa-side ul {
    width: 143px;
}
.list-group li.list-group-item {
    border: 0px;
    background: #FAFAFA;
    border-radius: 5px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    padding: 0 0 0 10px;
    margin: 2px 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* 话题选中背景 */
.list-group li.qa-topic-sel {
    /*background: #E6E6E6;*/
}

.qa-upvote-red {
    color: #B92B27;
}

.qa-downvote-red {
    color: #B92B27;
    /*color: #1E9FFF;*/
}

.qa-div-hide {
    visibility: hidden;
}