.qa-password {
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: 120px;
    /*border: 1px solid #999999;*/
    padding: 30px 30px 90px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px #888888;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-group {
    margin-bottom: 30px;
}
.form-group > div {
    float: right;
}
.form-group > label {
    /*display: block;*/
    /*float: left;*/
    text-align: right;
    padding-top: 5px;
}
