body {
    background-color: #FAFAFA;
}

.qa-nav-iframe {
    position: fixed;
    z-index: 999;
}

/* 中间卡片 */
.qa-cart {
    width: 45%;
    margin: 0px auto;
    padding-top: 90px;
    /*margin-top: 90px;*/
}
.layui-card-body {
    /*padding-bottom: 50px;*/
}
#qa-inner-padding {
    padding-bottom: 45px;
}
.layui-card {
    box-shadow: 2px 2px 3px -2px rgba(200, 200, 200, 0.2);
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}
.qa-card-header h4 {
    font-size: 18px;
    font-family: 'q_serif', Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", "Meiryo", serif;
    font-weight: bold;
    line-height: 1.3;
    padding-top: 5px;
}

.qa-card-inner-body p {
    margin-bottom: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.4;

}
.qa-card-inner-body p a{
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.qa-body-content {
    margin-top:10px;
    font-size: 15px;
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.qa-upvote {
    width: 138px;
    height: 38px;
    line-height: 38px;
    color: #646464;
    float: left;
    cursor: pointer;
    /*background-color: #00FF00;*/
}
.qa-upvote:hover, .qa-tread:hover {
    background-color: #FAFAFA;
    border-radius: 50px;
}
.qa-upvote b {
    display: block;
    margin-top: -43px;
    margin-left: 41px;
    font-weight: normal;
}
.qa-upvote span {
    display: block;
    margin-top: -38px;
    margin-left: 105px;
}
.qa-tread {
    float: left;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    line-height: 38px;
}
.qa-tread i {
    /*color: #646464;*/
    margin-left: 8px;
}
.qa-icon-edit {
    display: block;
    width: 24px;
    height: 24px;
    margin: 7px 10px;
    background-image: url("../img/edit.svg");
}

/* 点击后的颜色 */
.qa-upvote-click {
    color: #319AFF;
}

.qa-tread {
    float: left;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    line-height: 38px;
}
.qa-tread i {
    /*color: #646464;*/
    margin-left: 8px;
}

.qa-quest-topic span {
    padding: 2px 5px;
    margin-right: 3px;
    background: #F6F6F6;
    border-radius: 5px;
}

.qa-quest-topic span a {
    color: #666666;
}

.qa-quest-topic span a:hover {
    color: #666666;
}

/* 评论卡片 */
.qa-qus-comment {
    background: #FAFAFA;
    padding: 15px;
    margin-top: 55px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
}

.input-group input {
    width: 80%;
    border-radius: 50px;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.input-group > .btn {
    /*border-top-left-radius: 50px;*/
    /*border-bottom-left-radius: 50px;*/
    border-radius: 50px;
    margin-left: 5px;
}

.input-group button {
    border-radius: 0px 5px 5px 0;
    /*border-radius: 50px;*/
}

/* 评论内容 */
.qa-comment-body {
    display: none;
    margin-top: 10px;
    background: #FAFAFA;
    /*padding: 15px;*/
    /*margin-top: 55px;*/
    border: 1px solid #EDEDED;
    border-radius: 5px;
}
.qa-comment-person {
    margin: 10px 20px;
}
.qa-comment-person span {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.qa-comment-name {

    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

hr {
    margin: 15px 15px;
}

/*.layui-card-body {*/
    /*border-bottom: 1px solid #E8E8E8;*/
/*}*/

.layui-layer-lan .layui-layer-title {
    background-color: #B92B27;
}

.qa-upvote-red {
    color: #B92B27;
}

.qa-downvote-red {
    color: #B92B27;
}
