<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>回答</title>
    <!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/answer.css">-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/answer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <style>
        .qa-name a {
            display: block;
        }

        .qa-name-child {
            line-height: 33px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
            border: 1px solid #d2d2d2;
            border-radius: 2px;
            white-space: nowrap;
            display: none;
        }

        .qa-name-child dd {
            padding: 3px 0;
            margin: 2px 0;
        }

        .qa-name-child dd a {
            font-size: 14px;
            font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
            color: #000;
        }

        .qa-name-child dd a:hover {
            text-decoration: none;
        }

        .qa-name-child dd:hover {
            background-color: #F3F3F3;
        }

        .qa-name-child dd:first-child {
            margin-top: 5px;
        }

        .qa-name-child dd:last-child {
            margin-bottom: 5px;
        }

        .layui-btn {
            margin-top: -2px;
        }
    </style>

    <script>
        function search(e) {
            var searchContent = $.trim($('#qa-search-input').val());
            if (searchContent == null || searchContent.length == 0) {
                layer.msg("搜索内容不能为空");
            } else {
                console.log(searchContent);
                var url = "/question/search?searchContent=" + searchContent;
                window.location.href = url;
                /*$.ajax({
                    url: "/question/search",
                    type: "POST",
                    data: {searchContent: searchContent},
                    success: function (response) {
                        $('#result').html(response);
                    }
                });*/
            }
        }
        $(document).ready(function () {
            $(".qa-name a").hover(
                function () {
                    $('.qa-name-child').css("display", "block");
                },
                function () {
                    if (!$(this).is(':hover') && !$(".qa-name-child").is(':hover')) {
                        $('.qa-name-child').css("display", "none");
                    }
                    if (!$(this).is(':hover')) {
                        if ($(".qa-name-child").is(':hover')) {
                            $(".qa-name-child").hover(
                                function () {
                                },
                                function () {
                                    $('.qa-name-child').css("display", "none");
                                }
                            );
                        }
                    }
                }
            );
        });

        function submitAnswer(e) {
            var answerContent = $(e).prev('textarea').val();
            var questionId = $(e).prev('textarea').prev('.qa-quetion-id').val();
            console.log("answerContent: " + answerContent);
            console.log("questionId: " + questionId);
            if (answerContent.length == 0) {
                layer.msg("答案不能为空!");
                return ;
            }

            $.ajax({
                url: "/answer/saveAnswer",
                type: "POST",
                data: {questionId: questionId, answerContent: answerContent},
                success: function (res) {
                    if (res.code == "200") {
                        layer.msg("回答问题成功！");
                        // sleep(2000);
                        setTimeout(function(){ window.location.reload(); }, 2000);
                    } else {
                        layer.msg("回答问题失败！")
                    }
                }
            });
        }

        <!-- 提问问题弹出框 -->
        function question(e) {
            layer.alert('<textarea id="qa-quest-content" rows="7" cols="75" style="border: 0; resize: none;" placeholder="输入你的问题"></textarea>',
                {
                    skin: 'layui-layer-lan',
                    closeBtn: 2,
                    title: '提问',
                    shadeClose: true, //点击遮罩关闭
                    area: ['380px', '350px'],
                    anim: 0, //动画类型
                    yes: function (index, layero) {
                        console.log($('#qa-quest-content').val());
                        var question = $('#qa-quest-content').val();

                        $.ajax({
                            url: "/question/saveQuestion",
                            type: "POST",
                            data: {content: question},
                            success: function (res) {
                                //console.log(res);
                                //alert(res);
                                if (res.code == "200") {
                                    layer.msg("添加问题成功！");
                                    setTimeout(function(){ window.location.reload(); }, 2000);
                                } else {
                                    layer.msg("添加问题失败！")
                                }
                                // $(this).addClass("done");
                                // window.location.reload();
                            }
                        });

                        layer.close(index);
                    }
                }
            );
        }


    </script>

</head>
<body>
<!-- 导入导航条 -->
<!--<iframe th:src="@{/common/head.html}" width="100%" height="61px" frameborder="0" class="qa-nav-iframe"></iframe>-->
<!-- 导航 -->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" href="/">
            <img th:src="@{/img/qanda.png}" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item"><a th:href="@{/question/home}">Home</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/listQuestOfUserInterest}">回答</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/notification}">通知<span class="layui-badge"
                                                                                      th:text="${session.noticeNum}">10</span>
            </a></li>
        </ul>

        <div class="layui-inline qa-search">
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" id="qa-search-input"
                   class="qa-search-input">
            <button class="layui-btn" onclick="search(this)"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a style="color: #dc3545" th:text="${session.user.username != null}? ${session.user.username} : ''"
               th:href="@{/question/listQuestionsAnswered}"></a>
            <dl class="qa-name-child">
                <dd th:if="${session.user.username} eq 'admin'"><a th:href="@{/admin/getQaManagerIndex}">后台管理</a></dd>
                <dd><a th:href="@{/user/toUpdateInfo}">更新资料</a></dd>
                <dd><a th:href="@{/user/getChangePassword}">修改密码</a></dd>
                <dd style="text-align: center;"><a th:href="@{/reglog/logout}">注销</a></dd>
            </dl>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<!-- 中间卡片 -->
<div class="qa-cart">
    <div class="layui-card">
        <div class="layui-card-header">给你的问题</div>
    </div>

    <!-- 卡片 -->
    <div class="layui-card" th:each="question : ${questions}">
        <div class="layui-card-header qa-card-header" style="height: auto;">
            <span>问题</span><br>
            <h4><a th:text="${question.content}"
                   th:href="@{/answer/retrieveAnswersByQuestion/{questionId}(questionId=${question.id})}">你认为新世界秩序是全世界还是只关注美国？</a>
            </h4>
        </div>
        <div class="layui-card-body" style="padding-bottom: 5px;">
            <!--名字与时间-->
            <div class="qa-card-inner-body">
                <p style="color: #9494AE;" th:text="${question.gmtCreate}">Answered 22h ago</p>
            </div>

            <!-- 操作 -->
            <div style="margin-top: 10px; height: 40px;">
                <div class="qa-upvote">
                    <!--<i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>-->
                    <i class="qa-icon-edit"></i>
                    <b>回答</b>
                </div>
            </div>

            <!-- 弹出框 -->
            <div class="qa-pop-up" style="display: none;">
                    <input type="hidden" class="qa-quetion-id" th:value="${question.id}"></input>
                    <textarea rows="5" cols="78" name="answer" style="padding: 5px; border-radius: 5px;"
                              placeholder="输入你的答案"></textarea>
                <button class="btn btn-primary" onclick="submitAnswer(this)" style="height: 30px; line-height: 13px;">提交</button>
            </div>
        </div>
    </div>


    <!-- 卡片 -->
    <!--<div class="layui-card">
        <div class="layui-card-header qa-card-header" style="height: auto;">
            <span>答案</span><br>
            <h4><a>中国人对这篇文章怎么看？</a></h4>
        </div>
        <div class="layui-card-body">
            &lt;!&ndash;名字与时间&ndash;&gt;
            <div class="qa-card-inner-body">
                <p style="color: #9494AE;">Answered 22h ago</p>
            </div>

            &lt;!&ndash; 操作 &ndash;&gt;
            <div style="margin-top: 10px; height: 40px;">
                <div class="qa-upvote">
                    &lt;!&ndash;<i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>&ndash;&gt;
                    <i class="qa-icon-edit"></i>
                    <b>回答</b>
                </div>
            </div>

            &lt;!&ndash; 弹出框 &ndash;&gt;
            <div class="qa-pop-up" style="display: none;">
                <textarea rows="5" cols="78" style="padding: 5px; border-radius: 5px;" placeholder="输入你的答案"></textarea>
                <button class="btn btn-primary" style="height: 30px; line-height: 13px;">提交</button>
            </div>
        </div>
    </div>-->

    <!-- 卡片 -->
    <!--<div class="layui-card">
        <div class="layui-card-header qa-card-header" style="height: auto;">
            <span>答案</span><br>
            <h4><a>天文学家如何知道他们正在朝着哈勃望远镜的方向前进？他们声称可以看到130亿年。如果他们看到另一段空间，他们会找到其他较旧的星系吗？</a></h4>
        </div>
        <div class="layui-card-body">
            &lt;!&ndash;名字与时间&ndash;&gt;
            <div class="qa-card-inner-body">
                <p style="color: #9494AE;">Answered 22h ago</p>
            </div>

            &lt;!&ndash; 操作 &ndash;&gt;
            <div style="margin-top: 10px; height: 40px;">
                <div class="qa-upvote">
                    &lt;!&ndash;<i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>&ndash;&gt;
                    <i class="qa-icon-edit"></i>
                    <b>回答</b>
                </div>
            </div>

            &lt;!&ndash; 弹出框 &ndash;&gt;
            <div class="qa-pop-up" style="display: none;">
                <textarea rows="5" cols="78" style="padding: 5px; border-radius: 5px;" placeholder="输入你的答案"></textarea>
                <button class="btn btn-primary" style="height: 30px; line-height: 13px;">提交</button>
            </div>
        </div>
    </div>-->

</div>

<script>
    $().ready(function () {
        $('.qa-upvote').click(function () {
            $(this).parent().next().toggle();
            // $('.qa-pop-up').toggle();
        });

    })

</script>
</body>
</html>