<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/password.css}">

    <style>
        .qa-name a {
            display: block;
        }

        .qa-name-child {
            line-height: 33px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
            border: 1px solid #d2d2d2;
            border-radius: 2px;
            white-space: nowrap;
            display: none;
        }

        .qa-name-child dd {
            padding: 3px 0;
            margin: 2px 0;
        }

        .qa-name-child dd a {
            font-size: 14px;
            font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
            color: #000;
        }

        .qa-name-child dd a:hover {
            text-decoration: none;
        }

        .qa-name-child dd:hover {
            background-color: #F3F3F3;
        }

        .qa-name-child dd:first-child {
            margin-top: 5px;
        }

        .qa-name-child dd:last-child {
            margin-bottom: 5px;
        }

        .layui-btn {
            margin-top: -2px;
        }
    </style>

    <script>
        function check(e) {
            if ($('#oldPassword').val().length == 0) {
                layer.msg("当前密码不能为空!");
                return ;
            }
            if ($('#newPassword').val().length == 0) {
                layer.msg("新密码不能为空!");
                return ;
            }
            if ($('#confirmPass').val().length == 0) {
                layer.msg("确认密码不能为空!");
                return ;
            }
            if ($('#confirmPass').val() != $('#newPassword').val()) {
                layer.msg("新密码和确认密码不一致!");
                return ;
            }

            // console.log($('#password').val());
            // console.log($('#newPassword').val());
            // 向后台发请求修改密码
            $.ajax({
                url: "/user/changePassword",
                type: "POST",
                data: {
                    oldPassword: $('#oldPassword').val(),
                    newPassword: $('#newPassword').val()
                },
                success: function(data) {
                    if (data.code == 200) {
                        layer.msg("修改密码成功!");
                    } else {
                        layer.msg("修改密码失败!");
                    }
                }
            })
        }
        $(document).ready(function () {
            $(".qa-name a").hover(
                function () {
                    $('.qa-name-child').css("display", "block");
                },
                function () {
                    if (!$(this).is(':hover') && !$(".qa-name-child").is(':hover')) {
                        $('.qa-name-child').css("display", "none");
                    }
                    if (!$(this).is(':hover')) {
                        if ($(".qa-name-child").is(':hover')) {
                            $(".qa-name-child").hover(
                                function () {
                                },
                                function () {
                                    $('.qa-name-child').css("display", "none");
                                }
                            );
                        }
                    }
                }
            );
        });
        function search(e) {
            var searchContent = $.trim($('#qa-search-input').val());
            if (searchContent == null || searchContent.length == 0) {
                layer.msg("搜索内容不能为空");
            } else {
                console.log(searchContent);
                var url = "/question/search?searchContent=" + searchContent;
                window.location.href = url;
                /*$.ajax({
                    url: "/question/search",
                    type: "POST",
                    data: {searchContent: searchContent},
                    success: function (response) {
                        $('#result').html(response);
                    }
                });*/
            }
        }
        <!-- 提问问题弹出框 -->
        function question(e) {
            layer.alert('<textarea id="qa-quest-content" rows="7" cols="75" style="border: 0; resize: none;" placeholder="输入你的问题"></textarea>',
                {
                    skin: 'layui-layer-lan',
                    closeBtn: 2,
                    title: '提问',
                    shadeClose: true, //点击遮罩关闭
                    area: ['380px', '350px'],
                    anim: 0, //动画类型
                    yes: function (index, layero) {
                        console.log($('#qa-quest-content').val());
                        var question = $('#qa-quest-content').val();

                        $.ajax({
                            url: "/question/saveQuestion",
                            type: "POST",
                            data: {content: question},
                            success: function (res) {
                                if (res.code == "200") {
                                    layer.msg("添加问题成功！");
                                    setTimeout(function(){ window.location.reload(); }, 2000);
                                    window.location.href = "/answer/retrieveAnswersByQuestion/" + res.data;
                                } else {
                                    layer.msg("添加问题失败！")
                                    window.location.reload();
                                }
                            }
                        });

                        layer.close(index);
                    }
                }
            );
        }
    </script>
</head>
<body>
<!-- 导航 -->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" th:href="@{/question/home}">
            <img th:src="@{/img/qanda.png}" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item"><a th:href="@{/question/home}">Home</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/listQuestOfUserInterest}">回答</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/notification}">通知<span class="layui-badge"
                                                                                      th:text="${session.noticeNum}">10</span>
            </a></li>
        </ul>

        <div class="layui-inline qa-search">
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" id="qa-search-input"
                   class="qa-search-input">
            <button class="layui-btn" onclick="search(this)"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a style="color: #dc3545" th:text="${session.user.username != null}? ${session.user.username} : ''"
               th:href="@{/question/listQuestionsAnswered}"></a>
            <dl class="qa-name-child">
                <dd th:if="${session.user.username} eq 'admin'"><a th:href="@{/admin/getQaManagerIndex}">后台管理</a></dd>
                <dd><a th:href="@{/user/toUpdateInfo}">更新资料</a></dd>
                <dd><a th:href="@{/user/getChangePassword}">修改密码</a></dd>
                <dd style="text-align: center;"><a th:href="@{/reglog/logout}">注销</a></dd>
            </dl>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<div class="qa-password" >
    <form class="form-horizontal" style="padding: 20px 80px 0 0;" role="form">
        <div class="form-group">
            <label class="col-sm-4 control-label">当前密码</label>
            <div class="col-sm-8" >
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">新密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="newPassword" name="newPassword" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">确认新密码</label>
            <div class="col-sm-8">
                <input type="password" id="confirmPass" name="confirmPass" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="button" onclick="check(this)" class="btn btn-info btn-danger">确认修改</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>