<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/password.css}">
    <script>
        function check(e) {
            if ($('#oldPassword').val().length == 0) {
                layer.msg("当前密码不能为空!");
                return ;
            }
            if ($('#newPassword').val().length == 0) {
                layer.msg("新密码不能为空!");
                return ;
            }
            if ($('#confirmPass').val().length == 0) {
                layer.msg("确认密码不能为空!");
                return ;
            }
            if ($('#confirmPass').val() != $('#newPassword').val()) {
                layer.msg("新密码和确认密码不一致!");
                return ;
            }

            // console.log($('#password').val());
            // console.log($('#newPassword').val());
            // 向后台发请求修改密码
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    oldPassword: $('#oldPassword').val(),
                    newPassword: $('#newPassword').val()
                },
                success: function(data) {
                    if (data.code == 200) {
                        layer.msg("修改密码成功!");
                    } else {
                        layer.msg("修改密码失败!");
                    }
                }
            })
        }
    </script>
</head>
<body>
<!-- 导航 -->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" href="/">
            <img src="../../static/img/qanda.png" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item layui-this"><a href="index.html">Home</a></li>
            <li class="layui-nav-item"><a href="index.html">回答</a></li>
            <li class="layui-nav-item"><a href="index.html">通知</a></li>
        </ul>

        <!--<div class="qa-search">
            <input class="qa-search-input" type="text" autofocus="True" placeholder="搜索问题" >
        </div>-->

        <div class="layui-inline qa-search">
            <!--<input placeholder="搜索问题" name="keywords" autocomplete="off" value="" class="layui-input qa-search-input">-->
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" class="qa-search-input">
            <button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a href="#">郑立富</a>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<div class="qa-password" >
    <form class="form-horizontal" style="padding: 20px 80px 0 0;" role="form">
        <div class="form-group">
            <label class="col-sm-4 control-label">当前密码</label>
            <div class="col-sm-8" >
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">新密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="newPassword" name="newPassword" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">确认新密码</label>
            <div class="col-sm-8">
                <input type="password" id="confirmPass" name="confirmPass" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="button" onclick="check(this)" class="btn btn-info btn-danger">确认修改</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>