<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/question-details.css">-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/question-details.css}">
</head>
<body>
<!-- 导入导航条 -->
<iframe th:src="@{/common/head.html}" width="100%" height="61px" frameborder="0" class="qa-nav-iframe"></iframe>

<!-- 中间卡片 -->
<div class="qa-cart">
    <!-- 卡片 -->
    <div class="layui-card" id="qa-inner-padding">
        <div class="layui-card-header qa-card-header" style="height: auto;">
            <!--<span>答案</span><br>-->
            <div class="qa-quest-topic">
                <span th:each="topic : ${topics}"><a th:text="${topic.topicName}" th:href="@{/topic/retrieveTopic/{topicId}(topicId=${topic.id})}">中国</a></span>
            </div>
            <h4><a th:text="${question.content}">明清两代最有意思的是什么？</a></h4>
        </div>
        <div class="layui-card-body">
            <!--名字与时间-->
            <div class="qa-card-inner-body">
                <p style="color: #9494AE;" th:text="${question.gmtCreate}">Answered 22h ago</p>
            </div>

            <!-- 操作 -->
            <div style="margin-top: 10px;">
                <div class="qa-upvote" style="width:90px;">
                    <!--<i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>-->
                    <i class="qa-icon-edit"></i>
                    <b style="padding-top: 4px; ">回答</b>
                </div>
            </div>
        </div>
    </div>

    <!-- 提示答案数量 -->
    <div style="text-align: center; margin-bottom: 8px; color: #666;"><span th:text="${answerCount}">4</span>个答案</div>

    <!-- 卡片 -->
    <div class="layui-card" th:each="answer : ${answers}">

        <div class="layui-card-body">
            <!--名字与时间-->
            <div class="qa-card-inner-body">
                <p><a th:text="${answer.user.username}">郑立康</a></p>
                <p th:text="${answer.gmtCreate}" style="color: #9494AE;">Answered 22h ago</p>
            </div>
            <!--答案-->
            <div class="qa-body-content" th:text="${answer.answerContent}">
                清朝沦陷后，革命军队占领了清朝帝国皇宫北京的紫禁城，他们在入口门口发现了一块非常好的平板，写下了大清门。
                这张照片展示了中国大门上平板电脑的一个例子。

                他们不想浪费这么好的平板电脑，并决定在平板电脑的另一边写下他们的州名。

                当他们翻过平板电脑时。他们眼中的是大明之门。<br>
            </div>

            <!-- 操作 -->
            <div style="margin-top: 10px;">
                <div class="qa-upvote">
                    <i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>
                    <b>Upvote · </b>
                    <span th:text="${answer.upvoteCount}">32</span>
                </div>

                <div class="qa-tread">
                    <i class="layui-icon layui-icon-tread" style="font-size: 25px;"></i>
                </div>
            </div>

            <!-- 评论 -->
            <div class="qa-qus-comment">
                <form class="form-horizontal" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入评论">
                        <button type="button" class="btn btn-default">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        <!--<div class="layui-card-body">
            &lt;!&ndash;名字与时间&ndash;&gt;
            <div class="qa-card-inner-body">
                <p><a>郑立康</a></p>
                <p style="color: #9494AE;">Answered 22h ago</p>
            </div>
            &lt;!&ndash;答案&ndash;&gt;
            <div class="qa-body-content">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>

            &lt;!&ndash; 操作 &ndash;&gt;
            <div style="margin-top: 10px;">
                <div class="qa-upvote">
                    <i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>
                    <b>Upvote · </b>
                    <span>32</span>
                </div>

                <div class="qa-tread">
                    <i class="layui-icon layui-icon-tread" style="font-size: 25px;"></i>
                </div>
            </div>

            &lt;!&ndash; 评论 &ndash;&gt;
            <div class="qa-qus-comment">
                <form class="form-horizontal" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control"  placeholder="请输入评论">
                        <button type="button" class="btn btn-default">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        <div class="layui-card-body">
            &lt;!&ndash;名字与时间&ndash;&gt;
            <div class="qa-card-inner-body">
                <p><a>郑立康</a></p>
                <p style="color: #9494AE;">Answered 22h ago</p>
            </div>
            &lt;!&ndash;答案&ndash;&gt;
            <div class="qa-body-content">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>

            &lt;!&ndash; 操作 &ndash;&gt;
            <div style="margin-top: 10px;">
                <div class="qa-upvote">
                    <i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>
                    <b>Upvote · </b>
                    <span>32</span>
                </div>

                <div class="qa-tread">
                    <i class="layui-icon layui-icon-tread" style="font-size: 25px;"></i>
                </div>
            </div>

            &lt;!&ndash; 评论 &ndash;&gt;
            <div class="qa-qus-comment">
                <form class="form-horizontal" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control"  placeholder="请输入评论">
                        <button type="button" class="btn btn-default">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>-->

    </div>
</div>
</body>
</html>