<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/question-details.css">-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/question-details.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <style>
        .qa-name a {
            display: block;
        }

        .qa-name-child {
            line-height: 33px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
            border: 1px solid #d2d2d2;
            border-radius: 2px;
            white-space: nowrap;
            display: none;
        }

        .qa-name-child dd {
            padding: 3px 0;
            margin: 2px 0;
        }

        .qa-name-child dd a {
            font-size: 14px;
            font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
            color: #000;
        }

        .qa-name-child dd a:hover {
            text-decoration: none;
        }

        .qa-name-child dd:hover {
            background-color: #F3F3F3;
        }

        .qa-name-child dd:first-child {
            margin-top: 5px;
        }

        .qa-name-child dd:last-child {
            margin-bottom: 5px;
        }


        .layui-layer-btn0 {
            border-color: #dc3545;
            background-color: #dc3545;
            color: #fff;
        }

        .qa-question-follow {
            /*width: 138px;*/
            height: 38px;
            padding-right: 10px;
            line-height: 38px;
            /* color: #646464; */
            float: left;
            cursor: pointer;
            /*background-color: #00FF00;*/
        }

        .qa-question-follow:hover {
            background-color: #FAFAFA;
            border-radius: 50px;
        }
    </style>

    <script th:inline="javascript">
        // 暂停d毫秒
        function sleep(d){
            for(var t = Date.now();Date.now() - t <= d;);
        }

        $(document).ready(function () {
            $(".qa-name a").hover(
                function () {
                    $('.qa-name-child').css("display", "block");
                },
                function () {
                    if (!$(this).is(':hover') && !$(".qa-name-child").is(':hover')) {
                        $('.qa-name-child').css("display", "none");
                    }
                    if (!$(this).is(':hover')) {
                        if ($(".qa-name-child").is(':hover')) {
                            $(".qa-name-child").hover(
                                function () {
                                },
                                function () {
                                    $('.qa-name-child').css("display", "none");
                                }
                            );
                        }
                    }
                }
            );
        });

        /*<![CDATA[*/
        var questionId = /*[[${question.id}]]*/ '1';

        /*]]>*/

        function reply(e) {
            layer.alert('<textarea id="qa-answer-content" rows="7" cols="75" style="border: 0; resize: none;" placeholder="输入你的问题"></textarea>',
                {
                    skin: 'layui-layer-lan',
                    closeBtn: 2,
                    title: '回答问题',
                    shadeClose: true, //点击遮罩关闭
                    area: ['380px', '350px'],
                    anim: 0, //动画类型
                    yes: function (index, layero) {
                        console.log($('#qa-answer-content').val());
                        var question = $('#qa-answer-content').val();

                        $.ajax({
                            url: "/answer/saveAnswer",
                            type: "POST",
                            data: {questionId: questionId, answerContent: question},
                            success: function (res) {
                                if (res.code == "200") {
                                    layer.msg("回答问题成功！");
                                    // sleep(2000);
                                    setTimeout(function(){ window.location.reload(); }, 2000);
                                } else {
                                    layer.msg("回答问题失败！")
                                }
                            }
                        });

                        layer.close(index);
                    }
                }
            );

        }

        // 顶
        function upvote(e, answerId, receiverId) {
            var upOrDown = 0;
            var count = $(e).find('span').html();
            if ($(e).hasClass('qa-upvote-red')) {
                // 变暗
                upOrDown = 0;
                count = parseInt(count) - 1;
                $(e).find('span').html(count);
                $(e).removeClass('qa-upvote-red');
            } else {
                // 变亮
                upOrDown = 1;
                $(e).addClass('qa-upvote-red');
                count = parseInt(count) + 1;
                $(e).find('span').html(count);
                $(e).next('.qa-tread').removeClass('qa-downvote-red');
            }

            $.ajax({
                url: "/updownvote/saveVote",
                type: "POST",
                data: {
                    answerId: answerId,
                    /*senderId: senderId,*/
                    receiverId: receiverId,
                    upOrDown: upOrDown
                }
            });
        }

        // 踩
        function downvote(e, answerId, receiverId) {
            var upOrDown = 0;
            var count = $(e).prev('.qa-upvote').find('span').html();
            if ($(e).hasClass('qa-downvote-red')) {
                // 变暗
                upOrDown = 0;
                $(e).removeClass('qa-downvote-red');
            } else {
                // 变亮
                upOrDown = 2;
                $(e).addClass('qa-downvote-red');
                if ($(e).prev('.qa-upvote').hasClass('qa-upvote-red')) {
                    count = parseInt(count) - 1;
                    $(e).prev('.qa-upvote').find('span').html(count);
                }
                $(e).prev('.qa-upvote').removeClass('qa-upvote-red');
            }

            $.ajax({
                url: "/updownvote/saveVote",
                type: "POST",
                data: {
                    answerId: answerId,
                    /*senderId: senderId,*/
                    receiverId: receiverId,
                    upOrDown: upOrDown
                }
            });
        }

        function edit(e) {
            /*'<div style="width: 530px; height: 250px;font-size: 15px;">' +
            '<h4 style="font-weight: normal; font-size: 16px;">· 选择最能描述问题的话题</h4>' +
            '<form action="#" method="get" style="margin: 20px 40px; ">' +
            '<input type="checkbox" name="checkbox" id="checkbox1" lay-skin="primary"> <label for="checkbox1" style="cursor: pointer;">发呆1</label><br>' +
            '<input type="checkbox" name="checkbox" id="checkbox2" lay-skin="primary"> <label for="checkbox2" style="cursor: pointer;">发呆2</label><br>' +
            '<input type="checkbox" name="checkbox" id="checkbox3" lay-skin="primary"> <label for="checkbox3" style="cursor: pointer;">Japanese (language)</label><br>' +
            '</form>' +
            '</div>'*/
            var str = $("#availTopicList").html();
            var title = $("#addTopicPopupWindowsTitle").html();
            layer.confirm(str, {
                skin: 'layui-layer-lan',
                title: title,
                btn: ['确定', '取消'], //可以无限个按钮
                area: ['530px', '350px'],
            }, function (index, layero) {
                //按钮【按钮二】的回调
                var questionId = $('.qa-title-add').attr("id");
                var topicStr = new Array()
                $.each($('#qa-title-id-value input:checkbox'), function () {
                    if (this.checked) {
                        topicStr.push($(this).val());
                    }
                });
                if (topicStr.length == 0) {
                    // 手动关闭弹框
                    layer.close(index);
                } else {
                    $.ajax({
                        url: '/question/addTopicToQuestion',
                        type: 'POST',
                        traditional: true,
                        data: {
                            questionId: questionId,
                            topicStr: topicStr
                        },
                        success: function (result) {
                            if (result != null && result.code == '200') {
                                layer.msg("添加话题成功！");
                            } else {
                                layer.msg("添加话题失败！")
                            }
                        }
                    })
                }
                // layer.msg("确定");
            }, function (index) {
                //按钮【按钮一】的回调
                // layer.msg("取消");
            });

        }

        // 显示隐藏评论
        function togg(e) {
            // $("p").toggle(1000);
            var tt = $(e).parents('.qa-qus-comment').next();
            tt.slideToggle(800);
            // console.log($(e).parents('.qa-qus-comment').next().html());
            // console.log("dfgd");
        }

        // 删除点击X的卡片
        function closeCard(e) {
            $(e).parent('.qa-close-card').remove();
            // 向后台发请求删除该答案
            /*$.ajax({
                url: "/",
                type: "POST",
                data: {
                    answerId: answerId
                }
            });*/
            layer.msg("删除成功");
        }

        function publishComment(e, answerId) {
            var commentContent = $(e).prev('input').val();
            console.log("answerId: " + answerId);
            console.log("commentContent: " + commentContent);
            if (commentContent.length == 0) {
                layer.msg("评论不能为空！", {
                    time: 1500
                });
                return ;
            }

            $.ajax({
                url: "/comment/saveComment",
                type: "POST",
                data: {
                    answerId: answerId,
                    commentContent: commentContent
                },
                success: function (res) {
                    layer.msg("评论成功！", {
                        time: 1500
                    });
                    setTimeout(function(){ window.location.reload(); }, 2000);
                }
            });
            // window.location.reload();
        }

        function closeCard(e, answerId) {
            $.ajax({
                url: "/answer/removeAnswer",
                type: "POST",
                data: {
                    answerId: answerId,
                },
                success: function (res) {
                    if (res.code == "200") {
                        layer.msg("删除答案成功！");
                    } else {
                        layer.msg("添加答案失败！")
                    }
                    window.location.reload();
                }
            });
        }

        function follow(e, questionId, userId) {
            var followStatus = 0;
            var count = $(e).find('span').html();
            if ($(e).hasClass('qa-question-followed')) {
                count = parseInt(count) - 1;
                $(e).find('span').html(count);
                $(e).removeClass('qa-question-followed');
            } else {
                followStatus = 1;
                count = parseInt(count) + 1;
                $(e).find('span').html(count);
                $(e).addClass('qa-question-followed')
            }
            $.ajax({
                url: "/question/updateQuestionAttention",
                type: "POST",
                data: {
                    questionId: questionId,
                    userId: userId,
                    followStatus: followStatus
                }
            })
        }
        $(document).ready(function () {
            $(".qa-name a").hover(
                function () {
                    $('.qa-name-child').css("display", "block");
                },
                function () {
                    if (!$(this).is(':hover') && !$(".qa-name-child").is(':hover')) {
                        $('.qa-name-child').css("display", "none");
                    }
                    if (!$(this).is(':hover')) {
                        if ($(".qa-name-child").is(':hover')) {
                            $(".qa-name-child").hover(
                                function () {
                                },
                                function () {
                                    $('.qa-name-child').css("display", "none");
                                }
                            );
                        }
                    }
                }
            );
        });
        function search(e) {
            var searchContent = $.trim($('#qa-search-input').val());
            if (searchContent == null || searchContent.length == 0) {
                layer.msg("搜索内容不能为空");
            } else {
                console.log(searchContent);
                var url = "/question/search?searchContent=" + searchContent;
                window.location.href = url;
                /*$.ajax({
                    url: "/question/search",
                    type: "POST",
                    data: {searchContent: searchContent},
                    success: function (response) {
                        $('#result').html(response);
                    }
                });*/
            }
        }
        <!-- 提问问题弹出框 -->
        function question(e) {
            layer.alert('<textarea id="qa-quest-content" rows="7" cols="75" style="border: 0; resize: none;" placeholder="输入你的问题"></textarea>',
                {
                    skin: 'layui-layer-lan',
                    closeBtn: 2,
                    title: '提问',
                    shadeClose: true, //点击遮罩关闭
                    area: ['380px', '350px'],
                    anim: 0, //动画类型
                    yes: function (index, layero) {
                        console.log($('#qa-quest-content').val());
                        var question = $('#qa-quest-content').val();

                        $.ajax({
                            url: "/question/saveQuestion",
                            type: "POST",
                            data: {content: question},
                            success: function (res) {
                                //console.log(res);
                                //alert(res);
                                if (res.code == "200") {
                                    layer.msg("添加问题成功！");
                                } else {
                                    layer.msg("添加问题失败！")
                                }
                                // $(this).addClass("done");
                                window.location.reload();
                            }
                        });

                        layer.close(index);
                    }
                }
            );
        }
    </script>

    <script type="text/html" id="addTopicPopupWindowsTitle">
        <span th:id="${question.id}" class="qa-title-add" style="padding-top: 5px;font-weight: normal; font-size: 16px;"
              th:text="${question.content}">明清两代最有意思的是什么？</span>
    </script>

    <script type="text/html" id="availTopicList">
        <div style="width: 530px; height: 250px;font-size: 15px;">
            <h4 style="font-weight: normal; font-size: 16px;">· 选择最能描述问题的话题</h4>
            <form action="#" id="qa-title-id-value" method="get" style="margin: 20px 40px; ">
                <div th:each="topic : ${availTopics}">
                    <input th:id="${topic.id}" th:value="${topic.id}" type="checkbox" name="checkbox"
                           lay-skin="primary">
                    <label th:for="${topic.id}" style="cursor: pointer;" th:text="${topic.topicName}"></label>
                    <!--<label style="cursor: pointer;" th:text="${topic.topicName}">
                        <input type="checkbox" name="checkbox" lay-skin="primary">
                    </label>-->
                </div>
            </form>
        </div>
    </script>
</head>
<body>
<!-- 导入导航条 -->
<!--<iframe th:src="@{/common/head.html}" width="100%" height="61px" frameborder="0" class="qa-nav-iframe"></iframe>-->

<!--<div th:insert="~{head::header}"></div>-->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" href="/">
            <img th:src="@{/img/qanda.png}" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item"><a th:href="@{/question/home}">Home</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/listQuestOfUserInterest}">回答</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/notification}">通知<span class="layui-badge"
                                                                                      th:text="${session.noticeNum}">10</span>
            </a></li>
        </ul>

        <div class="layui-inline qa-search">
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" id="qa-search-input"
                   class="qa-search-input">
            <button class="layui-btn" onclick="search(this)"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a style="color: #dc3545" th:text="${session.user.username != null}? ${session.user.username} : ''"
               th:href="@{/question/listQuestionsAnswered}"></a>
            <dl class="qa-name-child">
                <dd th:if="${session.user.username} eq 'admin'"><a th:href="@{/admin/getQaManagerIndex}">后台管理</a></dd>
                <dd><a th:href="@{/user/toUpdateInfo}">更新资料</a></dd>
                <dd><a th:href="@{/user/getChangePassword}">修改密码</a></dd>
                <dd style="text-align: center;"><a th:href="@{/reglog/logout}">注销</a></dd>
            </dl>
            </dl>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<!-- 中间卡片 -->
<div class="qa-cart">
    <!-- 卡片 -->
    <div class="layui-card" id="qa-inner-padding" style="padding-bottom: 0px;">
        <div class="layui-card-header qa-card-header" style="height: auto;">
            <!--<span>答案</span><br>-->
            <div class="qa-quest-topic">
                <button class="layui-btn qa-edit-btn" onclick="edit(this)"
                        style="position: relative; background-color: #fff; height: 23px;">
                    <i class="layui-icon" style="color: red">&#xe642;</i>
                </button>
                <span th:each="topic : ${topics}">
                    <a th:text="${topic.topicName}"
                       th:href="@{/topic/retrieveTopic/{topicId}(topicId=${topic.id})}">中国</a>
                </span>
            </div>
            <h4><a th:text="${question.content}">明清两代最有意思的是什么？</a></h4>
        </div>
        <div class="layui-card-body">
            <!--名字与时间-->
            <div class="qa-card-inner-body">
                <p style="color: #9494AE;" th:text="${question.gmtCreate}">Answered 22h ago</p>
            </div>

            <!-- 操作 -->
            <div style="margin-top: 10px;">
                <div class="qa-upvote" style="width:90px;" onclick="reply(this)">
                    <!--<i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>-->
                    <i class="qa-icon-edit"></i>
                    <b style="padding-top: 4px; ">回答</b>
                </div>
            </div>
            <div class="qa-question-follow" th:classappend="${question.followStatus == 1}? 'qa-question-followed'"
                 th:onclick="|follow(this, '${question.id}', '${session.user.id}')|">
                <i class="layui-icon layui-icon-release"
                   style="font-size: 25px; padding-left: 15px; padding-top: 10px;"></i>
                <b>Follow · </b>
                <span th:text="${question.attention}">32</span>
            </div>
        </div>
    </div>

    <!-- 提示答案数量 -->
    <div style="text-align: center; margin-bottom: 8px; color: #666;"><span th:text="${answerCount}">4</span>个答案</div>

    <!-- 卡片 -->
    <div class="layui-card qa-close-card" style="position:relative;" th:each="answer : ${answers}">
        <div th:onclick="'javascript:closeCard(this, \''+${answer.id}+'\')'"
                style="width:20px; cursor: pointer; height:20px; position:absolute; right:12px; top:2px; z-index:99;">
            <i class="layui-icon" style="color:#8B8B8B; font-size:22px;">&#x1006;</i>
        </div>

        <div class="layui-card-body" style="padding-bottom: 10px;">
            <!--名字与时间-->
            <div class="qa-card-inner-body">
                <p><a th:text="${answer.user.username}">郑立康</a></p>
                <p th:text="${answer.gmtCreate}" style="color: #9494AE;">Answered 22h ago</p>
            </div>
            <!--答案-->
            <div class="qa-body-content" th:text="${answer.answerContent}">
                清朝沦陷后，革命军队占领了清朝帝国皇宫北京的紫禁城，他们在入口门口发现了一块非常好的平板，写下了大清门。
                这张照片展示了中国大门上平板电脑的一个例子。
                他们不想浪费这么好的平板电脑，并决定在平板电脑的另一边写下他们的州名。
                当他们翻过平板电脑时。他们眼中的是大明之门。<br>
            </div>

            <!-- 顶踩操作 -->
            <div style="margin-top: 10px;">
                <div class="qa-upvote" th:classappend="${answer.voteStatus == 1}? 'qa-upvote-red' : ''"
                     th:onclick="|upvote(this, '${answer.id}', '${answer.user.id}')|">
                    <i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>
                    <b>Upvote · </b>
                    <span th:text="${answer.upvoteCount != null}? ${answer.upvoteCount} : 0">32</span>
                </div>

                <div class="qa-tread" th:classappend="${answer.voteStatus == 2}? 'qa-downvote-red' : ''"
                     th:onclick="|downvote(this, '${answer.id}', '${answer.user.id}')|">
                    <i class="layui-icon layui-icon-tread" style="font-size: 25px;"></i>
                </div>
            </div>

            <!-- 评论 -->
            <div class="qa-qus-comment">
                <form class="form-horizontal" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入评论">
                        <button type="button" class="btn btn-default"
                                th:onclick="'javascript:publishComment(this, \''+${answer.id}+'\')'"
                                style="background: #D8D8D8">提交
                        </button>
                        <button type="button" class="btn btn-default" onclick="togg(this)" style="background: #D8D8D8">
                            显示评论
                        </button>
                    </div>
                </form>
            </div>

            <!-- 评论内容 -->
            <div class="qa-comment-body">
                <!--一个评论卡片-->
                <div th:each="comment : ${answer.comments}">
                    <div class="qa-comment-person">
                        <span class="qa-comment-name" th:text="${comment.user.username}">鲁班</span>
                        <span style="color: #9494AE;" th:text="${comment.gmtCreate}">2019-5-19 14:56:45</span>
                        <p th:text="${comment.commentContent}">
                            评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</p>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
        <!--<hr>-->

    </div>
</div>
</body>
</html>