<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>thymeleaf局部刷新</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div>
    <span style="margin:0 auto;font-size: 26px" th:text="${refresh}"></span>
    <button onClick="localRefresh()">点击刷新表格</button>
</div>

<!-- 需要局部刷新的部分，设置了th:fragment="table_refresh" -->
<div id="box-list-0" style="display:none;">
    <div id="table_refresh" th:each="book : ${books}" style="text-align: center;margin:0 auto;width: 900px" th:fragment="table_refresh">
        <h1 th:text="${title}"></h1>
        <table width="100%" border="1" cellspacing="1" cellpadding="0">
            <tr>
                <td>Author</td>
                <td>Book</td>
                <td>Url</td>
            </tr>
            <tr >
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.url}"></td>
            </tr>
        </table>
    </div>
</div>


<div id="box-list">
    <div  style="text-align: center;margin:0 auto;width: 900px">
        <h1 th:text="${title}"></h1>
        <table width="100%" border="1" cellspacing="1" cellpadding="0">
            <tr>
                <td>Author</td>
                <td>Book</td>
                <td>Url</td>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.url}"></td>
            </tr>
        </table>
    </div>
    <div th:insert="table_refresh"></div>
</div>

</body>
<script>
    /*function localRefresh() {
        var htm = $('#box-list').html();

        // 装载局部刷新返回的页面
        var aa = $('#table_refresh').load("/refresh/local");

        var tt = $('#box-list-0').html();

        console.log(aa);
        console.log(tt);

        htm += tt;

        $('#box-list').html(htm);
    }*/

    function localRefresh() {
        var htm = $('#box-list').html();

        // 装载局部刷新返回的页面
        $('#table_refresh').load("/refresh/local",
            function(response, status) {//回调函数
                console.log(response);
                htm += response;

                // $('#box-list').html(htm);
            }
        );

        var tt = $('#box-list-0').html();

        // console.log(aa);
        // console.log(tt);

        // htm += tt;
        //
        // $('#box-list').html(htm);
    }

</script>
</html>