<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主题</title>
    <!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/layui/layui.all.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/topic.css">-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/topic.css}">

    <script>
        function question(e) {
            layer.alert('<textarea rows="7" cols="75" style="border: 0; resize: none;" placeholder="输入你的问题"></textarea>',
                {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: '提问',
                    shadeClose: true, //点击遮罩关闭
                    area: ['380px', '350px'],
                    anim: 0 //动画类型
                }
            );
        }

        function clickTopic(topic_id) {
            window.location.href = "/topic/retrieveTopic/" + topic_id;
        }

        function follow(e, topicId, userId) {
            var followStatus = 0;
            var count = $(e).find('span').html();
            if ($(e).hasClass('qa-topic-followed')) {
                count = parseInt(count) - 1;
                $(e).find('span').html(count);
                $(e).removeClass('qa-topic-followed');
            } else {
                followStatus = 1;
                count = parseInt(count) + 1;
                $(e).find('span').html(count);
                $(e).addClass('qa-topic-followed')
            }
            $.ajax({
                url: "/topic/updateTopicAttention",
                type: "POST",
                data: {
                    topicId: topicId,
                    userId: userId,
                    followStatus: followStatus
                }
            })
        }
    </script>
</head>
<body>
<!-- 导航 -->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" href="/">
            <img th:src="@{/img/qanda.png}" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item layui-this"><a href="@{/question/home}">Home</a></li>
            <li class="layui-nav-item"><a href="@{/question/listQuestOfUserInterest}">回答</a></li>
            <li class="layui-nav-item"><a href="#">通知</a></li>
        </ul>

        <!--<div class="qa-search">
            <input class="qa-search-input" type="text" autofocus="True" placeholder="搜索问题" >
        </div>-->

        <div class="layui-inline qa-search">
            <!--<input placeholder="搜索问题" name="keywords" autocomplete="off" value="" class="layui-input qa-search-input">-->
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" class="qa-search-input">
            <button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a th:text="${user.username != null}? ${user.username} : ''" href="#">郑立富</a>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<!-- 中间卡片 -->
<div class="qa-cart">
    <div class="layui-card" style="height: 150px;">
        <div class="layui-card-body">
            <div class="qa-topic-img"></div>
            <h2 th:text="${topic.topicName}" class="qa-topic-title" style="margin-bottom: 30px; padding-top:10px;">Vietnam</h2>
            <div class="qa-topic-follow" th:classappend="${topic.followStatus == 1}? 'qa-topic-followed'"
                th:onclick="|follow(this, '${topic.id}', '${session.user.id}')|">
                <i class="layui-icon layui-icon-praise"
                   style="font-size: 25px; padding-left: 15px; padding-top: 10px;"></i>
                <b>Follow · </b>
                <span th:text="${attention}">32.6k</span>
            </div>
        </div>
    </div>

    <!-- 卡片 -->
    <div class="layui-card qa-qa-card" th:each="question : ${questions}">
        <div class="layui-card-header qa-card-header" style="height: auto;">
            <span>答案</span><br>
            <h4><a th:text="${question.content}"
                   th:href="@{/answer/retrieveAnswersByQuestion/{questionId}(questionId=${question.id})}">明清两代最有意思的是什么？</a>
            </h4>
        </div>
        <div class="layui-card-body">
            <!--名字与时间-->
            <div class="qa-card-inner-body">
                <p><a th:text="${question.user != null}? ${question.user.username} : '无名'">郑立康</a></p>
                <p th:text="${question.gmtCreate}" style="color: #9494AE;">Answered 22h ago</p>
            </div>
            <!--答案-->
            <div th:text="${question.answer != null}? ${question.answer.answerContent} : '无答案'"
                 class="qa-body-content">

                清朝沦陷后，革命军队占领了清朝帝国皇宫北京的紫禁城，他们在入口门口发现了一块非常好的平板，写下了大清门。
                这张照片展示了中国大门上平板电脑的一个例子。
                他们不想浪费这么好的平板电脑，并决定在平板电脑的另一边写下他们的州名。
                当他们翻过平板电脑时。他们眼中的是大明之门。
                <br>
            </div>

            <!-- 操作 -->
            <div style="margin-top: 10px;">
                <div class="qa-upvote">
                    <i class="layui-icon layui-icon-praise" style="font-size: 25px; padding-left: 10px"></i>
                    <b>Upvote · </b>
                    <span th:text="${question.answer != null}? ${question.answer.upvoteCount} : '0'"></span>
                </div>

                <div class="qa-tread">
                    <i class="layui-icon layui-icon-tread" style="font-size: 25px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 侧边 -->
<div class="qa-side">
    <ul th:each="topicbean : ${topicList}" class="list-group">
        <li th:text="${topicbean.topicName}"
            th:onclick="'javascript:clickTopic(\''+${topicbean.id}+'\')'" th:attr="data-topicid=${topicbean.id}"
            class="list-group-item" style="background-color: #E6E6E6">中国
        </li>
        <!--<li class="list-group-item">美国</li>
        <li class="list-group-item">日本</li>
        <li class="list-group-item">越南</li>
        <li class="list-group-item">文字</li>-->
    </ul>
</div>

</body>
</html>