<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>话题列表</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/topic.css}">

    <style>
        .qa-name a {
            display: block;
        }

        .qa-name-child {
            line-height: 33px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
            border: 1px solid #d2d2d2;
            border-radius: 2px;
            white-space: nowrap;
            display: none;
        }

        .qa-name-child dd {
            padding: 3px 0;
            margin: 2px 0;
        }

        .qa-name-child dd a {
            font-size: 14px;
            font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
            color: #000;
        }

        .qa-name-child dd a:hover {
            text-decoration: none;
        }

        .qa-name-child dd:hover {
            background-color: #F3F3F3;
        }

        .qa-name-child dd:first-child {
            margin-top: 5px;
        }

        .qa-name-child dd:last-child {
            margin-bottom: 5px;
        }
    </style>

    <style>
        .qa-data-cart {
            position: relative;
            top: 70px;
            margin: 0 auto;
            padding-top: 10px;
            width: 612px;
        }
    </style>

    <script>

        $(document).ready(function () {
            $(".qa-name a").hover(
                function () {
                    $('.qa-name-child').css("display", "block");
                },
                function () {
                    if (!$(this).is(':hover') && !$(".qa-name-child").is(':hover')) {
                        $('.qa-name-child').css("display", "none");
                    }
                    if (!$(this).is(':hover')) {
                        if ($(".qa-name-child").is(':hover')) {
                            $(".qa-name-child").hover(
                                function () {
                                },
                                function () {
                                    $('.qa-name-child').css("display", "none");
                                }
                            );
                        }
                    }
                }
            );
        });

        <!-- 提问问题弹出框 -->
        function question(e) {
            layer.alert('<textarea id="qa-quest-content" rows="7" cols="75" style="border: 0; resize: none;" placeholder="输入你的问题"></textarea>',
                {
                    skin: 'layui-layer-lan',
                    closeBtn: 2,
                    title: '提问',
                    shadeClose: true, //点击遮罩关闭
                    area: ['380px', '350px'],
                    anim: 0, //动画类型
                    yes: function (index, layero) {
                        console.log($('#qa-quest-content').val());
                        var question = $('#qa-quest-content').val();

                        $.ajax({
                            url: "/question/saveQuestion",
                            type: "POST",
                            data: {content: question},
                            success: function (res) {
                                //console.log(res);
                                //alert(res);
                                if (res.code == "200") {
                                    layer.msg("添加问题成功！");
                                } else {
                                    layer.msg("添加问题失败！")
                                }
                                // $(this).addClass("done");
                                window.location.reload();
                            }
                        });

                        layer.close(index);
                    }
                }
            );
        }
        function search(e) {
            var searchContent = $.trim($('#qa-search-input').val());
            if (searchContent == null || searchContent.length == 0) {
                layer.msg("搜索内容不能为空");
            } else {
                console.log(searchContent);
                var url = "/question/search?searchContent=" + searchContent;
                window.location.href = url;
                /*$.ajax({
                    url: "/question/search",
                    type: "POST",
                    data: {searchContent: searchContent},
                    success: function (response) {
                        $('#result').html(response);
                    }
                });*/
            }
        }

        function follow(e, topicId, userId) {
            var followStatus = 0;
            var count = $(e).find('span').html();
            if ($(e).hasClass('qa-topic-followed')) {
                count = parseInt(count) - 1;
                $(e).find('span').html(count);
                $(e).removeClass('qa-topic-followed');
            } else {
                followStatus = 1;
                count = parseInt(count) + 1;
                $(e).find('span').html(count);
                $(e).addClass('qa-topic-followed')
            }
            $.ajax({
                url: "/topic/updateTopicAttention",
                type: "POST",
                data: {
                    topicId: topicId,
                    userId: userId,
                    followStatus: followStatus
                }
            })
        }

        // 添加话题
        function addTopic(e) {
            layer.confirm('<div style="width: 480px; height: 255px;font-size: 15px;">' +
                '<h4 style="font-weight: normal; font-size: 16px;">● 编辑要添加的话题 </h4>' +
                '<form action="#" method="get" class="form-horizontal" style="margin: 20px 30px 5px; ">' +
                '<div class="form-group">' +
                '<label for="title" style="cursor: pointer; ">话题名称</label>' +
                '<input type="text" class="form-control " name="topicName" id="title"> ' +
                '</div>' +
                '<label for="detail" style="cursor: pointer; ">话题简介</label>' +
                '<textarea class="form-control" name="topicDetail" id="detail" rows="3"  style="resize: none;"></textarea><br>' +
                '</form>' +
                '</div>',
                {
                    skin: 'layui-layer-lan',
                    shadeClose: true, //点击遮罩关闭
                    anim: 0,
                    title: '<span style="padding-top: 5px;font-weight: normal; font-size: 20px;">创建话题</span>',
                    btn: ['确定', '取消'], //可以无限个按钮
                    area: ['530px', '350px'],
                }, function (index, layero) {
                    //按钮【按钮二】的回调
                    var topicName = $('#title').val();
                    var topicDetail = $('#detail').val();
                    if (topicName == null || topicName == "") {
                        layer.msg("话题名称不能为空！");
                    } else {
                        $.ajax({
                            url: '/topic/saveTopic',
                            type: 'POST',
                            data: {
                                topicName: topicName,
                                topicDetail: topicDetail
                            },
                            success: function (result) {
                                if (result != null && result.code == '200') {
                                    layer.msg("创建话题成功！");
                                } else {
                                    layer.msg("创建话题失败！");
                                }

                            }
                        });
                    }
                }, function (index) {
                    //按钮【按钮一】的回调
                    /*layer.msg("取消");*/
                }
            );
        }

        function clickTopic(topic_id) {
            window.location.href = "http://localhost:8080/topic/retrieveTopic/" + topic_id;
        }

    </script>
</head>
<body>
<!-- 导航 -->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" th:href="@{/question/home}">
            <img th:src="@{/img/qanda.png}" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item"><a th:href="@{/question/home}">Home</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/listQuestOfUserInterest}">回答</a></li>
            <li class="layui-nav-item"><a th:href="@{/question/notification}">通知<span class="layui-badge"
                                                                                      th:text="${session.noticeNum}">10</span>
            </a></li>
        </ul>

        <div class="layui-inline qa-search">
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" id="qa-search-input"
                   class="qa-search-input">
            <button class="layui-btn" onclick="search(this)"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a style="color: #dc3545" th:text="${session.user.username != null}? ${session.user.username} : ''"
               th:href="@{/question/listQuestionsAnswered}"></a>
            <dl class="qa-name-child">
                <dd th:if="${session.user.username} eq 'admin'"><a th:href="@{/admin/getQaManagerIndex}">后台管理</a></dd>
                <dd><a th:href="@{/user/toUpdateInfo}">更新资料</a></dd>
                <dd><a th:href="@{/user/getChangePassword}">修改密码</a></dd>
                <dd style="text-align: center;"><a th:href="@{/reglog/logout}">注销</a></dd>
            </dl>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<!-- 内容卡片 -->
<div class="qa-data-cart">

    <div class="layui-card" th:each="topic : ${topics}">
        <div class="layui-card-body">
            <div class="qa-topic-img">
                <!--<img src="../static/img/42276880.png" height="420" width="420"/>-->
                <b class="qa-font" th:text="${#strings.substring(topic.topicName, 0, 1)}" style="font-size: 50px; color: #9a9186; padding-left: 25px; font-weight: normal; line-height: 90px;"></b>
            </div>
            <h2 class="qa-topic-title"><a style="color: #343a40" th:text="${topic.topicName}"
                                          th:href="@{/topic/retrieveTopic/{topicId}(topicId=${topic.id})}"></a></h2>
            <div class="qa-topic-detail" th:text="${topic.topicDetail}"></div>
            <div class="qa-topic-follow" th:classappend="${topic.followStatus == 1}? 'qa-topic-followed'"
                 th:onclick="|follow(this, '${topic.id}', '${session.user.id}')|">
                <i class="layui-icon layui-icon-praise"
                   style="font-size: 25px; padding-left: 15px; padding-top: 10px;"></i>
                <b>Follow · </b>
                <span th:text="${topic.attention}"></span>
            </div>
        </div>
    </div>

</div>

<!-- 侧边 -->
<div class="qa-side">
    <div>
        <button onclick="addTopic(this)" class="layui-btn layui-btn-radius layui-btn-normal"
                style="width:90px; padding: 8px; margin: 0 0 10px 0px;" value="添加话题">创建话题
        </button>
    </div>
    <ul class="list-group">
        <!--<li class="list-group-item" style="background-color: #E6E6E6">中国</li>-->
        <li th:each="topic : ${concernedTopics}" th:text="${topic.topicName}"
            th:onclick="'javascript:clickTopic(\''+${topic.id}+'\')'" th:attr="data-topicid=${topic.id}"
            class="list-group-item">
        </li>
        <!--<li class="list-group-item">日本</li>
        <li class="list-group-item">越南</li>
        <li class="list-group-item">文字</li>-->
    </ul>
</div>
</body>
</html>