<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>-->
    <!--<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

    <style>
        .layui-table-cell { pading: 0}
    </style>
</head>
<body>
<!-- 导航 -->
<div class="layui-header header header-index" id="qa-nav">
    <div class="layui-main">
        <a class="logo" href="/">
            <img th:src="@{/img/qanda.png}" alt="layui">
        </a>

        <ul class="layui-nav" id="qa-ul">
            <li class="layui-nav-item layui-this"><a href="index.html">Home</a></li>
            <li class="layui-nav-item"><a href="index.html">回答</a></li>
            <li class="layui-nav-item"><a href="index.html">通知</a></li>
        </ul>

        <div class="layui-inline qa-search">
            <input placeholder="搜索问题" name="keywords" autocomplete="off" value="" class="qa-search-input">
            <button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="qa-name">
            <a th:text="${session.user.username != null}? ${session.user.username} : ''" href="#"></a>
        </div>

        <div class="qa-question-btn">
            <button onclick="question(this)">添加问题</button>
        </div>
    </div>
</div>

<div class="demoTable" style="padding-top: 100px;">
    <!--搜索商户：
    <div class="layui-inline">
        <input class="layui-input" name="keyword" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>-->
</div>

<div style="width:70%; margin: 0 auto;">
    <table class="layui-hide" id="qa-user" lay-size="lg" lay-filter="demo"></table>
</div>

<!--<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>-->

<!--
<div style="width:70%; margin: 0 auto;">
    <table class="layui-table" lay-data="{height:500, url:'/user/retrieveUsers', page:true, id:'qa-user'}" lay-filter="test">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:80, sort: true}">ID</th>
            <th lay-data="{field:'username', width:80}">用户名</th>
            <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
            <th lay-data="{field:'email', sort: true}">积分</th>
            <th lay-data="{field:'phone', sort: true}">评分</th>
        </tr>
        </thead>
    </table>
</div>
-->




<script>
    layui.use('table', function(){
        var table = layui.table;

        /*table.init('test', {
            // height: 315 //设置高度
            limit: 5 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
            //支持所有基础参数
        });*/

        //第一个实例
        table.render({
            elem: '#qa-user',
            url: '/user/retrieveUsers', //数据接口
            page: true, //开启分页
            // width : 1000,
            // height : 650,
            cols: [
                [
                    // {checkbox: true, fixed: true, width: 100},
                    {field:'id', width:'100', title: 'ID', sort: true},
                    {field: 'username', title: '用户名', width: 100},
                    {field: 'sex', title: '性别', width: 100, sort: true},
                    {field: 'email', title: '邮箱', width: 100 },
                    {field: 'phone', title: '电话', width: 200 }
                ]
            ],

        });

    });

</script>



</body>
</html>